{% extends "main/Base.html" %}
{% block title %}ToDo List{% endblock %}

{% block content %}
    <div class="wrapper" style="margin-top: 60px">
        <div class="card-columns">
            {% for todo in todoList %}
                <div class="card" style="width: 450px; margin-top:20px;">
                    <div class="card-body" >
                        <h4 class="card-title">{{todo.title}}</h4>
                        <p class="card-text">{{todo.description}}</p>
                        <p class="card-footer">Dated: {{todo.deadline}}</p>
                        <form action="/delete/{{todo.title}}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="delete" value="delete" class="btn btn-primary"
                                    style="float:right; margin-bottom: 8px"><span class="glyphicon glyphicon-trash"></span>
                                 Remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
